@import "tailwindcss";

/* If you have a tailwind.config.js file in your project, use these 3 lines: */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* OR, if you are using the brand new Tailwind v4 (no config file), use ONLY this line instead: */
/* @import "tailwindcss"; */

html, body {
    background-color: #0f172a;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}